<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!--
    uncomment this line if you have built the Coyote repo locally and want to use these bits.
    <add key="Coyote" value="../Coyote/bin"/>
    -->
  </packageSources>
  <config>
    <add key="globalPackagesFolder" value="./packages" />
    <add key="repositoryPath" value="./packages" />
  </config>
</configuration>