name: Windows CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Setup NuGet.exe
        uses: NuGet/setup-nuget@v1
      
      - name: Setup .NET 5.x SDK
        uses: actions/setup-dotnet@v1

      - name: Setup .NET Core 3.1.x SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.x'      
      
      - name: Build Coyote samples
        run: .\build.ps1
        shell: pwsh
      